# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Résultats lourds (on versionne seulement les figures finales)
results/raw/
*.npy
*.npz

# OS / éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/
